@import "../../utilities/variables";

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 20rem;
  background-color: $color_primary;
  border-radius: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;

  @media only screen and (max-width: 640px) {
    font-size: 1.7rem;
    letter-spacing: 1px;
    height: 5rem;
    width: 16rem;
  }

  &:active,
  &:visited,
  &:link {
    text-decoration: none;
    color: #fff;
  }
}
