@import "../../utilities/variables";

.AboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30rem;
}

.About {
  position: relative;
  min-height: 40rem;
  width: 90%;
  margin: 10rem 0 0 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 5rem 0;
  box-sizing: border-box;
  // justify-content: space-around;

  @media only screen and (max-width: 1200px) {
    width: 80%;
  }

  @media only screen and (max-width: 840px) {
    width: 90%;
  }

  @media only screen and (max-width: 640px) {
  }

  &__img-container {
    margin-top: 15rem;
    width: 40rem;
    height: 30rem;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    cursor: pointer;

    @media only screen and (max-width: 1200px) {
      width: 30vw;
      height: 20vw;
    }

    &__img {
      position: absolute;
      z-index: 1;
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      filter: drop-shadow(0.2rem 0.2rem 2rem $color-secondary) grayscale(0.9);
      transition: all ease 0.2s;

      &:hover {
        z-index: 2;
        transform: scale(1.1);
        filter: drop-shadow(1.2rem 1.2rem 2rem $color-secondary) grayscale(0);
      }

      &:nth-child(1) {
        left: 75%;
        top: -30%;
      }
      &:nth-child(2) {
        left: -75%;
        top: -30%;
      }
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: $color-grey;
    z-index: 0;
    border-radius: 1rem;
  }
  &::after {
    position: absolute;
    top: -1rem;
    left: -1rem;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid $color-secondary;
  }
  &__title {
    margin: 10rem;
    font-size: 2.5rem;
    z-index: 1;

    &--small {
      font-size: 2.2rem;
      margin: 10rem 0 3rem 0;
    }
  }

  &__text {
    width: 90%;
    font-size: 2rem !important;
    z-index: 1;
    line-height: 1.2;

    &--margin {
      margin-top: 10rem;
    }
  }

  &__list {
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    // margin-bottom: 10rem;
    align-items: center;
    width: 90%;

    &__item {
      border: 1px solid $color-secondary;
      border-radius: 1rem;
      padding: 2rem 1rem;
      margin: 0.5rem;
      font-weight: 500;
      width: 70%;
      text-align: center;
    }
  }

  &__full-img {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 90%;

    & img {
      margin: auto 0;
      height: 90%;
      width: auto;
      object-fit: scale-down;
    }
  }
}
