$color-primary: rgb(85, 197, 152);
$color-primary-light: rgb(126, 213, 131);
$color-primary-dark: rgb(40, 180, 163);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
