$color-primary: #143d42;
$color-secondary: #000000;
$color-blue-light: #5ce6aa;

$color-grey: #f6f6f6;
$color-grey-dark: #e6e0e0;

$linear-gradient-1: linear-gradient(
  to right,
  #5ce6aa,
  #75eda3,
  #8df39c,
  #a4f995,
  #bcff8f
);
