@import "../../utilities/variables";

.Header {
  height: 20rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 10rem;

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    &__logo {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      h1 {
        margin: 0;
        padding: 0 1rem;
        height: auto;
        width: auto;
        font-size: 3rem;
        font-weight: bold;
        color: $color-primary;
        box-sizing: border-box;
      }

      &__svg {
        height: 8rem;
        width: auto;
      }
    }

    &__links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &__link {
      &:active,
      &:visited,
      &:link {
        text-decoration: none;
        color: $color-secondary;
      }

      &--nav {
        font-size: 2rem;
        padding: 3rem;
        color: $color-secondary;
        font-weight: 400;
      }
    }
  }
}
