@import "../../utilities/variables";

footer {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $color-primary-light;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  background-size: cover;
  align-items: center;

  ackground-size: cover;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.85),
      rgba($color-primary-dark, 0.85)
    ),
    url(../../assets/plansza4.jpg);
  background-position: top;
}

.Links {
  height: 100%;
  width: 70%;
  margin-top: 45vh;
  display: flex;
  justify-content: space-around;

  &--link {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2rem;
    height: 7rem;
    align-items: center;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #fff;
    }
  }
}

.Copyrights {
  color: $color-grey-light-1;
  width: 100%;
  padding-top: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: 1.2rem;
  font-weight: 500;

  &--link {
    display: flex;

    font-weight: 500;
    padding: 2rem;
    height: 7rem;
    align-items: center;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-grey-light-1;
    }
  }
}
