.Examinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;

  &__svg {
    height: 40rem;
    padding-bottom: 5rem;
  }

  &__card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
    }

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 3rem;
    }
  }
}
