@import "./utilities/variables";

html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  box-sizing: border-box;
}

::selection {
  background-color: $color-green;

  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: $color-primary;
  background-image: linear-gradient(
    to right,
    rgba($color-primary, 1),
    rgba($color-blue-light, 1),
    rgba($color-blue-light, 1)
  );
  // clip-path: url(./assets/heads.svg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background: linear-gradient(
  //   to right,
  //   $color-primary 50%,
  //   $color-blue-dark 50%
  // );
}
