@import "../../utilities/variables";

.HomePage {
  min-height: 100vh;
  height: 100%;
  align-items: flex-start;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__wrapper {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-areas: "content links";
    z-index: 1;
    margin-top: 5rem;
    justify-content: center;
    perspective: 1000px;
  }

  &__content {
    grid-area: content;
    padding: 0rem 0rem 0rem 0rem;

    &__HeaderWrapper {
      height: auto;
      position: relative;
      z-index: 1;
      padding-bottom: 5rem;

      & h1 {
        z-index: 10;
        margin: 0;
        padding: 0 0;
        font-style: italic;
        font-size: 5rem;
        color: $color-secondary;
        font-weight: 600;
        height: 10rem;
        display: flex;
        align-items: center;

        position: relative;
      }
      & .psi-svg {
        height: 10rem;
        width: 10rem;
        position: absolute;
        opacity: 1;
        top: 0;
        left: 0;
        transform: translate(-50%, -0%);
        z-index: 0;
        fill: $color-blue-light;
        filter: drop-shadow(1rem 1rem 2rem $color-blue-dark);
      }
    }
  }

  &__text {
    min-height: 7rem;
    font-size: 2rem;
    font-style: oblique;
    color: $color-secondary;
    font-weight: 600;
    line-height: 1.4;
    padding: 2rem 0;
    padding-left: 5rem;
    width: 70%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    & p {
      position: relative;
    }

    & .Icons {
      z-index: 0;
      height: 100%;
      margin: 0;
      padding: 0;
      transform: translate(-50%, -0%);
      fill: $color-blue-light;
      position: absolute;
      top: 0;
      left: 0;
      filter: drop-shadow(1rem 1rem 2rem rgba($color-blue-dark, 1));
    }
  }

  &__Links {
    grid-area: links;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    width: auto;
    // height: 90%;
    transform: rotateZ(5deg) rotateX(5deg);
    padding: 0rem 0rem 0rem 0rem;
    box-sizing: border-box;
  }
}
