@import "../../utilities/variables";

.HomePage {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  // min-width: 1024px;
  height: auto;

  @media only screen and (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &__content {
    height: 100%;

    &__wrapper {
      width: 80%;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media only screen and (max-width: 640px) {
        align-items: center;
        width: 100%;
      }
      h2 {
        margin: 0;
        padding: 0;
        padding-bottom: 8rem;
        width: auto;
        font-size: 2.5rem;
        color: $color-secondary;
        font-weight: 500;

        @media only screen and (max-width: 640px) {
          text-align: center;
          width: 60%;
          padding-bottom: 4rem;
        }
      }
    }
  }

  &__picture {
    display: flex;
    justify-content: flex-end;
    overflow: visible;
    height: 100%;

    @media only screen and (max-width: 640px) {
      justify-content: center;
    }
    &__svg {
      height: 60rem;
      width: auto;

      @media only screen and (max-width: 768px) {
        height: 40rem;
      }

      #brain {
        animation: updown 3s ease-in-out 0.3s infinite alternate;
        // transition: all ease-in-out;
      }
    }
  }
}

@keyframes updown {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
